body {
    margin: 0;
    height: 100vh;
  }
  .advtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    color: #888888;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
  }