.adv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adv__header {
font-size: 14px;
font-weight: 400;
color: darkgray;
margin-top: 40px;
margin-bottom: 10px;
}

.adv__frame {
    border: 1px dashed #ccc;
}