.footer {
  margin-top: 100px;
  background-color: #F2F2F2;
}

.footer__block {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.footer__name {
  font-weight: bold;
}

.footer__above {
  margin-right: 50px;
}