.hat {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  right: 0;
  left: 0;
}

.mainlogo {
  display: flex;
  align-items: center;
}

.mainlogo__img {
  left: 0;
  margin-bottom: 15px;
  margin-left: 80px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .mainlogo__img {
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

.mainlogo_red {
  color:#f52;
}

.mainlogo__header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.basket-img {
  position: relative;
  margin-right: 100px;
}

.basket-img__count {
  /* position relatively to basket-img (parent) */
  position: absolute;
  top: -6px;
  right: -10px;
}

.nav {
  padding-top: 100px;
}

.pageContainer {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1440px;
}

@media (min-width:1024px) and (max-width:1499px) {
.pageContainer {
  box-sizing: border-box;
  margin: 0 0 0 0;
  }
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #F8FAFE;
}

.about {
  display: flex;
  margin-top: 40px;
}

.phoneviews {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  height: 387px;
}

@media (min-width:1024px) and (max-width:1499px) {
.phoneviews {
  height: 280px;
  gap: 5px;
  }
}

.colors{
  display: flex;
  flex-direction: column;
}

.colors__header{
  margin-top: 0px;
}

.colors__list{
  display: flex;
  gap: 10px;
}

.colorsImg {
  display: flex;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.colorsImg_slct {
  border: 2px solid #F36223;
}
.colorsImg:hover {
  background-color: lightgray;
}

.colorsImg:active {
  border-color: #A93A09;
  background-color: #F8FAFE;
}

.colorsImg__img {
  height: 60px;
}

.configs {
  display: flex;
  gap: 10px;
}

.btn {
  border-radius: 4px;
}

.configs__btn {
  height: 39px;
  width: 92px;
  background-color: #F8FAFE;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid darkgray;
}
.configs__btn:hover {
  background-color: darkgray;
}
.configs__btn:active {
  border-color: #A93A09;
  background-color: #F8FAFE;
}
.configs__btn_selected {
  border: 2px solid #F36223;
}

.descript__paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
}

.charact__list {
  padding-left: 20px;
}

.compare {
  margin-top: 30px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .compare {
    visibility: collapse;
  }
}

.table-compare{
  border: 1px solid darkgray;
  width: 100%;
  border-collapse: collapse;
}

.table-compare__head-cell {
  border-right: 1px solid darkgray;
}

.table-compare__row {
  text-align: left;
  height: 39px;
}

.table-compare__cell {
  border-right: 1px solid darkgray;
  padding-left: 5px;
}

.table-compare__row:hover {
  background-color: lightgray;
}

.hlink:link {
  color: #018ad2;
  text-decoration: none;
}

.hlink:hover {
  color: #F36223;
}

.hlink:active {
  color: #A93A09;
}
