
.reviews {
  margin-top: 61px;
  padding: 0px;
  width: 65%;
}

.container-reviews {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

.rv-header {
  display: flex;
  margin: 0;
}

.rv-header__head {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  gap: 10px;
}

.rv-header__count {
  color: darkgray;
  font-size: 24px;
  margin-left: 10px;
}

.container-reviews__review {
  display: flex;
  gap: 16px;
  justify-content: start;
  }

.containers-reviews__photo {
  border-radius: 50%;
  height: 147px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .containers-reviews__photo {
    height: 73px;
  }
}

.container-reviews__rate {
  height: 30px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .container-reviews__rate {
    height: 15px;
  }
}

.container-reviews__divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0px;
  border-top: 1px dashed #888888;
}

.reviews-add {
  margin-top: 60px;
  margin-left: 140px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .reviews-add {
    margin-top: 30px;
    margin-left: 5px;
  }
}

.reviews-add__form {
  border: 0px;
}

.reviews-add__legend {
  font-size: 16px;
  font-weight: bold;
}

.reviews-input {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.reviews-input__line1 {
  display: flex;
  gap: 30px;
}

.reviews-input__name {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
}

.reviews-input__rate {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 30%;
}

.reviews-input__rate:hover {
  border: 1px solid black;
}

.reviews-add input,textarea::placeholder {
  font-size: 16px;
}

.reviews-input__text {
  margin-top: 30px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  height: 179px;
}

.reviews-input__submitBtn {
  margin-top: 30px;
  background-color: #f36223;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 4px;
  height: 39px;
  width: 177px;
  padding: 10px;
}

.reviews-input__submitBtn:active {
  background-color: #A93A09;
}