.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-left: 100px;
  width: 420px;
}

@media (min-width:1024px) and (max-width:1499px) {
  .sidebar {
    margin-left: 25px;
    width: 90%;
  }
}

.basket {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
  position: relative;
}

.basket__firstline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.basket__price {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.basket__price s {
  color: darkgray;
}

.basket__price-def {
  margin-top: 20px;
  margin-bottom: 14px;
}

.basket__favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: url(../resources/favorites_general.png) no-repeat;
}

.basket__favorites:hover {
  background: url(../resources/favorites_hover.png) no-repeat;
}

.basket__favorites:active {
  background: url(../resources/favorites_click.png) no-repeat;
}


.basket__discount {
  width: 47px;
  height: 24px;
  background-color: #f36223;
  color: #EEEEEE;
  padding: 4px 8px;
  border-radius: 500px;
  margin-left: 10px;
}

.basket__actualprice {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 15px;
}


.basket__btn {
  background-color: #f36223;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 20px 49px;
  height: 64px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.basket__btn:hover {
  background-color: #DA4A0C;
}

.basket__btn:active {
  background-color: #A93A09;
}

.basket__btn::before {
  content: "";
  background: url(../resources/basket_btn.png);
  height: 20px;
  width: 19px;
  left: 43px;
  position: absolute;

}

.basket__delivery {
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 10px;
}